* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(102, 102, 170);
  color: white;
  font: normal 20pt arial;
}

h1 {
  color: yellow;
}

.teste {
  background-color: rgba(0, 255, 255, 0.164);
  color: aquamarine;
  border: 4px solid black;
  border-radius: 18%;
  padding: 10px;
  width: 500px;
}
