*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    overflow: hidden;
}
h1{
    text-align: center;
    color: aquamarine;
    text-shadow: 1px 1px rgba(127, 255, 212, 0.637);
}
.header {
    text-align: center;
    
}
.container {
    height: 100vh;
    width: auto;
    background-color: #1A1B1F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 45px;
    color: white;
    font-size: 1.3em;
}

.conteudo {
    width: 600px;
    height: auto;
    background-color: #01161F;
    border-radius: 25px;
    padding: 20px;
}
.footer a {
    color: aquamarine;
    text-decoration: none;
    transition: 0.5s;
    font-size: 0.8em;
}
.footer a:hover {
    color: white;
}

#txtano {
    background-color: black;
    border-color: aquamarine;
    color: white;
    border-radius: 2px;
}

#txtverificar {
    background-color: #01161F;
    color: aquamarine;
    border-color: aquamarine;
    padding: 5px;
    cursor: pointer;
    border-radius: 10%;
}